.campaigns .campaign-item {
  background-image: url(../../img/campaigns/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 35px;
  flex: 1;
}
.campaigns .campaigns-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}
.campaigns .campaign-desc {
  margin: 40px 0;
  color: #fff;
  font-size: 14px;
}
.campaigns-wrapper:nth-child(1) .campaign-item:nth-child(2) {
  background-image: url(../../img/campaigns/banner2.png);
}
.campaigns-wrapper:nth-child(2) .campaign-item:nth-child(1) {
  background-image: url(../../img/campaigns/banner3.png);
  flex: 5;
}

.campaigns-wrapper:nth-child(2) .campaign-item:nth-child(2) {
  background-image: url(../../img/campaigns/banner4.png);
  flex: 3;
}
/*! responsive */
@media (max-width: 768px) {
  .campaigns .campaign-item {
    flex: unset !important;
  }
}
